<!DOCTYPE html>
<html data-theme="night">
  <head>
    <title>TcgPokemon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-screen">
    <header>
      <%= render "layouts/navbar" %>
    </header>

    <main class="container mb-auto mx-auto mt-28 px-5 md:w-2/3">
      <%= yield %>
    </main>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <div>
        <p>Copyright © 2023 - Peter de Ridder</p>
      </div>
    </footer>
  </body>
</html>
